body{
    background-image: url("https://image.freepik.com/photos-gratuite/riz-champ-vert-herbe-paysage-coucher-soleil_30824-134.jpg%22");background-size: cover;
    background-color : RGBa(255, 255, 0, 0.5);
  }
