body{
    background-image: url("https://image.freepik.com/photos-gratuite/riz-champ-vert-herbe-paysage-coucher-soleil_30824-134.jpg"); background-size: cover;
    background-color : RGBa(255, 255, 0, 0.5);
    margin-bottom: 0%
  }
ul{
  padding: 0;
  margin: 0;
  list-style-type:none;
}
li{
margin-left: 2px;
float: left; /*pour IE/*
}
ul li a {
display:block;
float:left;
width:100px;
background-color:#6495ED;
color:white;
 text-decoration:none;
 text-align:center;
 padding:5px;
 border:2px solid;
 /*pour avoir un effet "outset" avec IE :*/
 border-color:#DCDCDC #696969 #696969 #DCDCDC;
 }
ul li a:hover {
 background-color:#D3D3D3;
 border-color:#696969 #DCDCDC #DCDCDC #696969;
 } 
